@import '../../../theme/colors.scss';

.product {
    flex: 1 1 160px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    background-color: $bkPaper !important;
    color: $fkPaper !important;
    p {
        padding: 10px;
        text-align: left;
    }
    h3 {
        padding: 10px;
    }

    img {
        width: 100%;
    }
}
