.main {
    display: flex;
    flex-direction: column;
    .container {
        display: flex;
        flex-direction: row;
        .content {
            flex: 3 0 300px;
            padding: 15px;
        }
        .sidebar {
            flex: 1 0 300px;
            max-width: 300px;
        }
    }
}
