@font-face {
    font-family: 'LatoRegular';
    src: url('./assets/fonts/Lato-Regular.eot');
    src: url('./assets/fonts/Lato-Regular.eot') format('embedded-opentype'),
        url('./assets/fonts/Lato-Regular.woff2') format('woff2'),
        url('./assets/fonts/Lato-Regular.woff') format('woff'),
        url('./assets/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'LatoRegular' !important;
}

h3 {
    font-family: 'LatoRegular' !important;
}
